@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(0deg, #F85B03, #F86A03, #F89603); */
  font-size: 16px;
  background-color: #f6f6f6;  
}

p {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pdf-document {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-page {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  /* Optional: shadow effect */
}

.swal-popup {
  width: 95% !important; 
  border-radius: 15px;  
  box-shadow: 0 4px 14.8px 0 rgba(0, 0, 0, 0.2);   
}

.swal-popup-success {
  width: 95% !important; 
  border-radius: 5px; 
  background-color: #7CB518 ;  
  margin-bottom: 60vh; 
}

.swal-popup-error {
  width: 95% !important; 
  border-radius: 5px; 
  background-color: #B3261E ; 
  margin-bottom: 60vh;    
}

.swal-popup-report {
  width: 95% !important; 
  border-radius: 15px;
  border: 1px solid black;
  background-color: #FFFFFF ;    
}

.swal2-container.swal2-backdrop-show {
  background: rgba(255, 255, 255,0.5);       
}

.swal-title {
  padding: 10px; 
  padding-top: 1.25em; 
  border-radius: 20px 20px 0px 0px;               
  color: rgb(0, 0, 0);   
  font-size: medium;               
}

.swal2-html-container {
  padding: 5px !important;  
  font-size: small !important;            
}

.swal-title-success {
  border-radius: 20px 20px 0px 0px;               
  color: rgb(255, 255, 255);   
  font-size: large;               
}

.swal-confirm-button,
  .swal-cancel-button,
  .swal-confirmRed-button {
    padding: 0.5rem 3.5rem 0.5rem 3.5em !important;              
    font-size: medium; 
    color: rgb(255, 255, 255);    
    border-radius: 10px;           
  }

  .swal-confirm-button {
    background-color: #7CB518 !important;
  }

  .swal-cancel-button {
    background-color: #D9D9D9 !important;
    color: rgb(0, 0, 0)!important;
  }

  .swal-confirmRed-button {
    background-color: #B3261E !important;
  }

  .swal2-actions {
    margin: 0;
  }